.zocalo_suscripciones{
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-left: 0;
    bottom: 0px;
    position: fixed;
    z-index: 999999;
    float: left;
    vertical-align: middle;
    opacity: 0.95;
    background-color: red;
}
.zocalo_suscripciones div {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}
.zocalo_suscripciones .close {
    cursor: pointer;
    float: right;
    margin-right: 50px;
    color: #fff;
}
.zocalo_suscripciones h3, .zocalo_suscripciones p {
    color: #fff;
}
.zocalo_suscripciones p {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 90%;
}